*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:  #000000;
    font-family: "Nunito Sans", sans-serif;
}

 /* header stars */
Header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo>a>img{
    width: 140px;
    height: 15px;
}
header>nav>ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

header>nav>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    margin-right:25px ;
    text-transform: uppercase;
    line-height: 1.5;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    color: #232323;
    transition: 0.5s;
    cursor:pointer
}
.head-link:hover{
    color: #eaaa85 !important;
}


.icons>i{
    width: 25px;
    height: 25px;
    font-size: 20px;
    color: #232323;
    cursor:pointer;
    transition: .3s
}
.header-icon{
    color: #232323 !important;
}

.header-icon:hover{
    color:#eaaa85 !important;
}

/* header ends */


/* header-container starts */
.header-container{
    width: 100%;
    background-image: url(./bg-image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fbf9f7;
    position: relative;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-left: 80px;
}

.header-container.left{
     margin-left: 60px;
}
/* buna bax */
.header-container.right>img{
    right: -300px;
    position: absolute; 
}
.header-container.left{
  position: absolute;
  display: flex;
  flex-direction: column;
  line-height: 1.5px;
}

/* .header-container.left>p{
   padding-top: 10px;
} */

.left>h1,p,button{
    margin-bottom: 50px;
}
.left>h1{
    color: #232323;
    font-size: 70px;
    display: inline;
    font-weight: 200;
    font-family: Raleway, sans-serif;
}

.left>p{
color: #616161;
padding-top: 20px;
font-size: 18px;
letter-spacing: 1px;
line-height: 30px;
font-family: "Nunito Sans", sans-serif;
font-weight: 400;
}

.left>button{
    transform: translateY(0);
    color: #232323;
    text-transform: uppercase;
    padding: 19px 38px;
    border: 1px solid #232323;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    background-color: #fbf9f7;
    transition: all .2s;
    position: relative;
    overflow: hidden;
}

.left>button:hover{
   color: white
}

.left>button::before{
    content: "";
    position: absolute;
    left:0;
    width: 100%;
    height: 0%;
    background-color:#232323 ;
    z-index: -1;
    transition: 0.8s;
    bottom:0;
}
.left>button:hover::before{
    height: 180%
}

/*  header-container ends*/

/* section-headind starts */
.section-head{
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:20px
}

.first-heading{
    font-size: 35px;
    font-family: "Quintessential", serif;
    font-weight: 400;
    color: #eaaa85;
}

.second-heading{
    text-transform: uppercase;
    color: #232323;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.section-head>p{
    color: #9a9a9a;
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}
/* section-headind ends */

/* card section starts */

.card-section{
    padding: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background-image: url(./card-section-bg.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-position-x: right;
    background-position-y: center;
    margin-bottom: 90px;

}

.card{
    width: 270px;
}

.top-part{
    width: 270px;
    height: 324px;
    position: relative;
    cursor: pointer;
    transition: 0.6s all;
}

.top-part>img{
    width:100%;
    height:100%;
}
.border{
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    border: 1.5px solid #000;
    position: absolute;
    z-index: 2;
    right: 16px;
    top: 16px; 
    transition: 1s all;

} 

.top-part>i{
    position: absolute;
    z-index: 1;
    right:30px;
    top:30px;
    font-size: 20px;
    line-height: 30px;
    color: #969696;
    cursor:pointer;
    opacity: 0;
    transition: all 0.8s;
    
}

.card:hover i {
    opacity: 1;
   
}
/* buna bax */

.card:hover .border{
   width: 100%;
   height:100%;
   right: 0;
   top: 0;
}


.bottom-part{
    padding-top: 30px;
   display: flex;
   flex-direction: column;
   gap:30px;
   text-align: center;
}
/* bunada bax */
.range>i{
    font-size: 12px;
    color:#ffa16a;
    
}

.bottom-part h3 {
    color: #232323;
    transition: all .3s;
    cursor: pointer;
    font-size: 20px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
}
.bottom-part h3:hover{
    color:#ffa16a;
}

.buttons {
    border-collapse:collapse;
    align-items: center !important;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 270px;
    height: 56px;
  }
 .welcome {
    font-family: Raleway, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border-collapse:collapse;
    padding-top: 18px;
    width: 135px;
    height: 56px;
    background-color: white;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: 1s all;
    transform: translateY(0);
    position: relative;
  }

  .welcome::before{
    content: "";
    position: absolute;
    left:0;
    width: 100%;
    height: 0%;
    background-color:#232323 ;
    z-index: -1;
    transition: 0.8s;
    bottom:0;
}

 .welcome:hover {
    color: white;
  }

  .welcome:hover::before{
    height: 100%
}

  .price {
    padding-top: 18px;
    width: 135px;
    height: 56px;
  }
 .price>p {
    text-align: center;
    color: #eaaa85;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
  }
  .price>p>del{
    color: #969696;
  }
 
  /* card section ends */

.explore-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.explore-btn-div>button{
    padding: 19px 38px;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border:1px solid #232323;
    color: #232323;
    cursor: pointer;
    background-color: white;
    transition: all .2s;
    transform: translateY(0);
    position: relative;
}

.explore-btn-div>button:hover {
    color: white;
}

.explore-btn-div>button::before{
    content: "";
    position: absolute;
    left:0;
    width: 100%;
    height: 0%;
    background-color:#232323 ;
    z-index: -1;
    transition: 0.8s;
    bottom:0;
}

.explore-btn-div>button:hover::before{
    height: 100%
}

/* card section ends */

/* elementor-section stars */
.elementor-section{
    background-image: url(./2ndsection-bg.jpg);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
    margin-bottom: 70px;
}


 .image{
   opacity: 0.4;
    filter: brightness(95%) contrast(100%) saturate(65%) blur(0px) hue-rotate(0deg);
    transition: 0.7s all;
} 

.image:hover{
    opacity: 1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

/* elementor-section ends */


/* eyeshadow-section stars */
.eyeshadow-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    line-height: 30px;
    background-image: url(./eyeshadow-bg-left.png);
    background-repeat: no-repeat;
}

.left-side>p{
    display: inline;
}
.left-side{
    width: 504px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.right-side{
    position: relative;
}
.right-side>div{
    position: absolute;
    top:80px;
    color: #f5e0d2;
    opacity: .7;
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-size: 200px;
}


.right-side-img{
    width: 570px;
    height: 420px;
}

.left-side>h3{
    font-size: 35px;
    font-family: "Quintessential", serif;
    font-weight: 400;
    color: #eaaa85;
}
.left-side>h2{
    text-transform: uppercase;
    color: #232323;
    font-size: 38px;
    font-weight: 300;
    font-family: Raleway, sans-serif;
}
.left-side>strong{
    color: #232323;
    font-weight: bold;
    line-height: 30px;
}

.left-side>p{
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #616161;
    height: 90px;
    margin-bottom: 0px;
}

.about-ann{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.about-ann>img{
    border-radius: 50%;
    height: 75px;

}
.about-ann>div{
     padding-top: 10px;
     padding-left: 5px;
}

.about-ann>div>h3{
    font-family: Raleway, sans-serif;
    color: #232323;
    font-size: 20px;
    font-weight: 500;
}

.about-ann>div>p{
    color: #969696;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.ann-sign{
    width: 134px;
    height: 58px !important;
    padding-top: 15px;
}

footer{
    padding: 30px 50px;
    background-image: url(./footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 470px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
}

.contact-title{
    font-size: 20px;
}
.contact-part{
    display: flex;
    flex-direction: column;
}

.contact-part>p>i{
    color: #737373;
    font-size: 18px;
}

.middle-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.middle-part-img{
    cursor: pointer;
    width: 143px;
    height: 15px;
    text-align: center;
   

}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.icons>i{
    color: white ;
    cursor: pointer;
    transition: 0.7s;
}
.icons>i:hover{
    color: #eaaa85;
}

.useful-title{
    font-size: 20px;
}
.footer-text{
    margin:0px;
    width: 570px;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: #b1b0b0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}
.link-title{
    cursor: pointer;
    transition: 0.7s;
}
.link-title:hover{
     color: #eaaa85;
}
